<!DOCTYPE html>
<html>

    <head>
        <% include /templates/head %>
    </head>

    <body class="hold-transition skin-blue sidebar-mini">
        <!-- Site wrapper -->
        <div class="wrapper">

            <% include /templates/header %>
            <div class="content-wrapper">
                <!-- escrever conteúdo do sistema -->
                <section class="content-header">
                    <h1>
                        CADASTRO DE GRUPO
                        <small>LISTAGEM DE GRUPO</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li>
                            <a href="#">
                                <i class="fa fa-dashboard"></i> Dashboard</a>
                        </li>
                        <li class="active">Grupo</li>
                    </ol>
                </section>
                <!-- Main content -->
                <section class="content">

                    <!-- Default box -->
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">
                                    <button type="button" class="btn btn-success btn-flat"  data-toggle="modal" data-target="#modal-default"><i class="fa fa-plus-square"></i></button>
                                    INCLUIR NOVO REGISTRO
                            </h3>
                        
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>                                
                        </div>
                        <div class="modal fade" id="modal-default">
                            <div class="modal-dialog">
                                <form role="form" action="/grupoSalvar" method="post">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            <h4 class="modal-title">NOVO REGISTRO</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    
                                                    <div class="form-group col-lg-12">
                                                        <label>Nome*:</label>
                                                        <input type="text" class="form-control" name="nome" id="nome" placeholder="" value="" autocomplete="off" required="true" MaxLength="200" autofocus >
                                                    </div>                                                
                                                </div>
                                            </div>                                        
                                        </div>
                                        
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default pull-left" data-dismiss="modal" onclick="window.location.href='/grupo'">Cancelar</button>
                                            <button type="submit" class="btn btn-primary">Salvar</button>
                                        </div>
                                    </div>
                                </form>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>
                        <!-- /.modal -->

                        <div class="box-body">
                            <table id="grddados" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Nome</th>
                                        <th>
                                            <div class="tools">
                                                <a data-toggle="tooltip" data-original-title="Editar Registro"><i class="fa fa-edit"></i></a>
                                                <a data-toggle="tooltip" data-original-title="Excluir Registro"><i class="fa fa-trash-o"></i></a> 
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for( var i = 0; i < grupos.length; i++) {%>
                                    <tr>
                                        
                                        <td><%= grupos[i].nome %></td>
                                        <td>
                                            <div class="tools">
                                                <a href="#" data-toggle="modal" data-target="#modal-edicao-<%= grupos[i].id %>"><i class="fa fa-edit"></i></a>
                                                <a href="#" data-toggle="modal" data-target="#modal-remove-<%= grupos[i].id %>"><i class="fa fa-trash-o"></i></a> 
                                            </div>
                                        </td>
                                        <div class="modal fade" id="modal-edicao-<%= grupos[i].id %>">
                                            <div class="modal-dialog">
                                                <form role="form" action="/grupoalvar" method="post">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                            <h4 class="modal-title">EDIÇÃO REGISTRO</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="container-fluid">
                                                                <div class="row">
                                                                    
                                                                    <div class="form-group col-lg-2">
                                                                        <label>Id:</label>
                                                                        <input type="text"  readonly="true" class="form-control" name="id" id="id" placeholder="" MaxLength="200" value="<%= grupos[i].id ? grupos[i].id : '' %>">
                                                                    </div>                                        
                                                                    <div class="form-group col-lg-10">
                                                                        <label>Nome *:</label>
                                                                        <input type="text" class="form-control" name="nome" id="nome" placeholder="" value="<%= grupos[i].nome ? grupos[i].nome : '' %>" required="true" autofocus>
                                                                    </div>                                                                
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="reset" class="btn btn-default pull-left" onclick="window.location.href='/grupo'">Cancelar</button>
                                                            <button type="submit" class="btn btn-primary">Salvar</button>
                                                        </div>
                                                        
                                                    </div>
                                                </form>
                                                <!-- /.modal-content -->
                                            </div>
                                            <!-- /.modal-dialog -->
                                        </div>
                                        
                                        <!-- /.modal -->

                                        <!-- Excluir Registro -->
                                        <div class="modal modal-danger fade" id="modal-remove-<%= grupos[i].id %>">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                        <h4 class="modal-title">Excluir Registro</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>Deseja deletar o registro?</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <a class="btn btn-outline pull-left"  data-dismiss="modal" href="/grupo">
                                                            Cancelar
                                                        </a>
                                                        <a class="btn btn-outline" href="/grupoExcluir/<%=  grupos[i].id   %>">
                                                            Excluir
                                                        </a>
                                                    </div>
                                                </div>
                                                <!-- /.modal-content -->
                                            </div>
                                            <!-- /.modal-dialog -->
                                        </div>
                                        <!-- /.modal -->
                                    </tr>
                                    <% } %>    
                                </tbody>
                            </table>
                        
                            <div class="ajax-content">
                            </div>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                        
                        </div>
                        <!-- /.box-footer-->
                    </div>
                    <!-- /.box -->

                </section>
                <!-- /.content -->

            </div>

            <!-- /.content-wrapper -->
            <% include /templates/footer %>

            <div class="control-sidebar-bg"></div>
        </div>
    </body>
    <% include /templates/scripts %>

</html>