<!DOCTYPE html>
<html>

<head>
    <% include /templates/head %>
</head>
<% function leftPad(value, totalWidth, paddingChar) { %>
<%      var length = totalWidth - value.toString().length + 1; %>
<%      return Array(length).join(paddingChar || '0') + value; %>
<%  }; %>
<% var now = new Date() %>
<% var hoje = leftPad(now.getDate(), 2) + '/' + leftPad((now.getMonth() + 1), 2) + '/' +  leftPad(now.getFullYear(), 4) %>
<% var hora = leftPad(now.getHours(),2) + ":" + leftPad(now.getMinutes(),2) %>
<% var hoje = leftPad(now.getFullYear(), 4) + '-' + leftPad((now.getMonth() + 1), 2)  + '-' +   leftPad(now.getDate(), 2)   %>

<% function getFormattedDate(date) { %>
    <%  var year = date.getFullYear(); %>
    <%  var month = (1 + date.getMonth()).toString(); %>
    <%  month = month.length > 1 ? month : '0' + month; %>
    <%  var day = date.getDate().toString(); %>
    <%  day = day.length > 1 ? day : '0' + day; %>
    <%  return year + '-' + month + '-' + day; %>
<% } %>

<body class="hold-transition skin-blue sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">

        <% include /templates/header %>
        
       
        <div class="content-wrapper">
            <!-- escrever conteúdo do sistema -->
            <section class="content-header">
                
                <div class="col-md-9">
                    <div class="box box-widget widget-user-2">
                        <!-- Add the bg color to the header using any of the bg-* classes -->
                        <% console.log(pdvs) %>
                        <% if( pdvs.length > 0 ) { %>
                        <div class="widget-user-header bg-green">
                            <div class="widget-user-image">
                                <img class="img-circle" src="../images/vendas-pdv.png" alt="User Avatar">
                            </div>
                            
                            <!-- /.widget-user-image -->
                            <h3 class="widget-user-username">PDV versão 1.0</h3>
                            <h5 class="widget-user-desc">Caixa Aberto</h5>
                            
                        </div>
                        <% } else { %>
                        <div class="widget-user-header bg-red">
                            <div class="widget-user-image">
                                <img class="img-circle" src="../images/vendas-pdv.png" alt="User Avatar">
                            </div>
                            
                            <!-- /.widget-user-image -->
                            <h3 class="widget-user-username">PDV versão 1.0</h3>
                            <h5 class="widget-user-desc">Caixa Fechado</h5>
                            
                        </div>
                        
                        <% } %>
                        <div class="box-footer no-padding">
                            <section class="content">
                                <% for(var i = 0; i < validacao.length; i++) {%>
                                    <div class="alert alert-danger alert-dismissable">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                        <a href="#" class="alert-link">Ops!</a><%= validacao[i].msg %>
                                    </div>
                                <% } %>
                                <% if( validacao.length > 0 ) { %>
                                    <h1>CAIXA FECHADO</h1>
                                <% } %>
                            </section>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <!-- Widget: user widget style 1 -->
                    <div class="box box-widget widget-user">
                        <!-- Add the bg color to the header using any of the bg-* classes -->
                        <% if( pdvs.length > 0 ) { %>
                        <div class="widget-user-header bg-aqua-active">
                            <h3 class="widget-user-username">Alexander Pierce</h3>
                            <h5 class="widget-user-desc">Founder &amp; CEO</h5>
                        </div>
                        <div class="widget-user-image">
                            <img class="img-circle" src="../images/opcaixa.png" alt="User Avatar">
                        </div>
                        <% } else { %>
                        <div class="widget-user-header bg-red-active">
                            <h3 class="widget-user-username"></h3>
                            <h5 class="widget-user-desc">Caixa Fechado</h5>
                        </div>
                        <div class="widget-user-image">
                            <img class="img-circle" src="../images/opcaixa.png" alt="User Avatar">
                        </div>
                        <% } %>
                            
                        <div class="box-footer">
                            <section class="content">
                                <div class="box-footer no-padding">
                                    <ul class="nav nav-stacked">
                                            
                                        <% if( validacao.length > 0 ) { %>
                                            <li><a href="#" style="color: gray; pointer-events: none;"><i class="fa fa-fw fa-hdd-o"></i> Abertura Caixa<span class="pull-right badge bg-gray">F1</span></a></li>
                                            <li><a href="#" style="color: gray; pointer-events: none;"><i class="fa fa-plus-circle"></i> Suprimentos<span class="pull-right badge bg-gray">F2</span></a></li>
                                            <li><a href="#" style="color: gray; pointer-events: none;"><i class="fa fa-minus-circle"></i> Sangria<span class="pull-right badge bg-gray">F3</span></a></li>
                                            <li><a href="#" style="color: gray; pointer-events: none;"><i class="fa fa-fax"></i> Vendas Balcão<span class="pull-right badge bg-gray">F4</span></a></li>
                                            <li><a href="#" style="color: gray; pointer-events: none;"><i class="fa fa-sitemap"></i> Vendas Salão<span class="pull-right badge bg-gray">F4</span></a></li>
                                            <li><a href="#" style="color: gray; pointer-events: none;"><i class="fa fa-credit-card"></i> Receber Contas<span class="pull-right badge bg-gray">F6</span></a></li>
                                            <li><a href="#" style="color: gray; pointer-events: none;"><i class="fa fa-archive"></i> Fechamento Caixa<span class="pull-right badge bg-gray">F5</span></a></li>
                                        <% } else { %>
                                            <% if( pdvs.length > 0 ) { %>
                                                <li><a href="#" style="color: gray; pointer-events: none;"><i class="fa fa-fw fa-hdd-o"></i> Abertura Caixa<span class="pull-right badge bg-gray">F1</span></a></li>
                                                <li><a href="#" style="color: gray; pointer-events: none;"><i class="fa fa-plus-circle"></i> Suprimentos<span class="pull-right badge bg-blue">F2</span></a></li>
                                                <li><a href="#" style="color: gray; pointer-events: none;"><i class="fa fa-minus-circle"></i> Sangria<span class="pull-right badge bg-blue">F3</span></a></li>
                                                <li><a href="#" style="color: gray; pointer-events: none;"><i class="fa fa-fax"></i> Vendas Balcão<span class="pull-right badge bg-blue">F4</span></a></li>
                                                <li><a href="#" style="color: gray; pointer-events: none;"><i class="fa fa-sitemap"></i> Vendas Salão<span class="pull-right badge bg-blue">F4</span></a></li>
                                                <li><a href="#" style="color: gray; pointer-events: none;"><i class="fa fa-credit-card"></i> Receber Contas<span class="pull-right badge bg-blue">F6</span></a></li>
                                                <li><a href="#" style="color: gray; pointer-events: none;"><i class="fa fa-archive"></i> Fechamento Caixa<span class="pull-right badge bg-blue">F5</span></a></li>
                                            <% } else { %>
                                                <li><a href="#" data-toggle="modal" data-target="#modal-default"><i class="fa fa-fw fa-hdd-o"></i> Abertura Caixa<span class="pull-right badge bg-blue">F1</span></a></li>
                                                <li><a href="#" style="color: gray; pointer-events: none;"><i class="fa fa-plus-circle"></i> Suprimentos<span class="pull-right badge bg-gray">F2</span></a></li>
                                                <li><a href="#" style="color: gray; pointer-events: none;"><i class="fa fa-minus-circle"></i> Sangria<span class="pull-right badge bg-gray">F3</span></a></li>
                                                <li><a href="#" style="color: gray; pointer-events: none;"><i class="fa fa-fax"></i> Vendas Balcão<span class="pull-right badge bg-gray">F4</span></a></li>
                                                <li><a href="#" style="color: gray; pointer-events: none;"><i class="fa fa-sitemap"></i> Vendas Salão<span class="pull-right badge bg-gray">F4</span></a></li>
                                                <li><a href="#" style="color: gray; pointer-events: none;"><i class="fa fa-credit-card"></i> Receber Contas<span class="pull-right badge bg-gray">F6</span></a></li>
                                                <li><a href="#" style="color: gray; pointer-events: none;"><i class="fa fa-archive"></i> Fechamento Caixa<span class="pull-right badge bg-gray">F5</span></a></li>
                                            <% } %>
                                        <% } %>
                                    </ul>
                                </div>
                            </section>
                            <!-- /.row -->
                        </div>
                    </div>
                    <!-- /.widget-user -->
                </div>
            </section>
            <!-- Main content -->
            <section class="content">
                <div class="modal fade" id="modal-default">
                    <div class="modal-dialog">
                        <form role="form" action="/aberturaCaixa" method="post">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title">Abertura de Caixa</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="container-fluid">
                                        <div class="row">
                                            
                                            <div class="form-group col-lg-6">
                                                <label>Data:</label>
                                                
                                                <input type="date" class="form-control" name="data" required="true" value="<%= getFormattedDate(now)  %>" readonly="true">
                                            </div>

                                            <div class="form-group col-lg-6">
                                                <label>Hora:</label>
                                                <input type="time" class="form-control" name="hora" value="<%= hora %>" required="true" readonly="true">
                                            </div>
                                            <div class="form-group col-lg-6" >
                                                <label>Empresa:</label>
                                                <select class="form-control" required="true" name="empresa" readonly="true">
                                                    <option value="<%= sessao.emid %>"><%= sessao.emnome %></option>   
                                                </select>
                                            </div>
                                            
                                            
                                            <div class="form-group col-lg-6" >
                                                <label>Caixa</label>
                                                <select class="form-control" required="true" name="caixa" readonly="true">
                                                    <% if( caixas ) { %>
                                                    <option value="<%= caixas.id %>"><%= caixas.nome %></option>
                                                    <% } %>                                                                        
                                                </select>                                                
                                            </div>

                                            <div class="form-group col-lg-12" >
                                                <label>Funcionário</label>
                                                <select class="form-control" required="true" name="operador">
                                                    <option value="<%= sessao.fcid %>"><%= sessao.fcnome %></option>
                                                </select>
                                            </div>

                                            <div class="form-group col-lg-6">
                                                <label>Fundo:</label>
                                                <input type="text" class="form-control" name="fundo" id="fundo" placeholder="" value="0.00">                                                               
                                            </div>
                                            <div class="form-group col-lg-6">
                                                <label>Saldo:</label>
                                                <input type="text" class="form-control" name="saldo" id="saldo" placeholder="" value="0.00">                                                               
                                            </div>
                                            
                                        </div>
                                    </div>                                        
                                </div>
                                
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal"  onclick="window.location.href='/pdv'">Cancelar</button>
                                    <button type="submit" class="btn btn-primary">Salvar</button>
                                </div>
                            </div>
                        </form>
                        <!-- /.modal-content -->
                    </div>
                <!-- /.modal-dialog -->
                </div>

               
            </section>
        </div>
        <!-- /.content-wrapper -->
        <% include /templates/footer %>
        <div class="control-sidebar-bg"></div>
    </div>
</body>
<% include /templates/scripts %>

</html>